<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>success</key>
	<string>1</string>
	<key>data</key>
	<array>
		<dict>
			<key>isAttested</key>
			<string>1</string>
			<key>titleStr</key>
			<string>华澳中心3号楼26E</string>
			<key>detailStr</key>
			<string>北京市海淀区紫竹院路31号</string>
			<key>additionalStr</key>
			<string>房屋面积:108.55m²</string>
			<key>attestedNum</key>
			<string>5</string>
			<key>required</key>
			<array>
				<dict>
					<key>item</key>
					<string>所在小区</string>
					<key>detail</key>
					<string>华澳中心</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在楼栋</string>
					<key>detail</key>
					<string>10号楼</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在单元</string>
					<key>detail</key>
					<string>3单元</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在楼层</string>
					<key>detail</key>
					<string>26楼</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在房间</string>
					<key>detail</key>
					<string>26E</string>
				</dict>
				<dict>
					<key>item</key>
					<string>我的身份</string>
					<key>detail</key>
					<string>房主</string>
				</dict>
				<dict>
					<key>item</key>
					<string>其他信息</string>
					<key>detail</key>
					<string>面积:100m² 物业费:2.5元m²</string>
				</dict>
			</array>
			<key>optional</key>
			<array>
				<dict>
					<key>item</key>
					<string>家有老人</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string>老人1</string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string>男</string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string>111111</string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string>11011111111</string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string>无</string>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>item</key>
					<string>家有小孩</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string>小孩1</string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string>男</string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string>11111111</string>
							</dict>
							<dict>
								<key>item</key>
								<string>出生日期</string>
								<key>detail</key>
								<string>1990-10-01</string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string>小孩2</string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string>女</string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string>22222222</string>
							</dict>
							<dict>
								<key>item</key>
								<string>出生日期</string>
								<key>detail</key>
								<string>1992-10-01</string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>item</key>
					<string>残障人士</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>item</key>
					<string>家有宠物</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>isAttested</key>
			<string>0</string>
			<key>titleStr</key>
			<string>美林家园3012室</string>
			<key>detailStr</key>
			<string>北京市海淀区紫竹院路31号</string>
			<key>additionalStr</key>
			<string>房屋面积:105m²</string>
			<key>attestedNum</key>
			<string>5</string>
			<key>required</key>
			<array>
				<dict>
					<key>item</key>
					<string>所在小区</string>
					<key>detail</key>
					<string>美林家园</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在楼栋</string>
					<key>detail</key>
					<string>5号楼</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在单元</string>
					<key>detail</key>
					<string>3单元</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在楼层</string>
					<key>detail</key>
					<string>26楼</string>
				</dict>
				<dict>
					<key>item</key>
					<string>所在房间</string>
					<key>detail</key>
					<string>26E</string>
				</dict>
				<dict>
					<key>item</key>
					<string>我的身份</string>
					<key>detail</key>
					<string>房主</string>
				</dict>
				<dict>
					<key>item</key>
					<string>其他信息</string>
					<key>detail</key>
					<string>面积:100m² 物业费:2.5元m²</string>
				</dict>
			</array>
			<key>optional</key>
			<array>
				<dict>
					<key>item</key>
					<string>家有老人</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string>老人1</string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string>男</string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string>111111</string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string>11011111111</string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string>无</string>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>item</key>
					<string>家有小孩</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string>小孩1</string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string>男</string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string>11111111</string>
							</dict>
							<dict>
								<key>item</key>
								<string>出生日期</string>
								<key>detail</key>
								<string>1990-10-01</string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string>小孩2</string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string>女</string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string>22222222</string>
							</dict>
							<dict>
								<key>item</key>
								<string>出生日期</string>
								<key>detail</key>
								<string>1992-10-01</string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>item</key>
					<string>残障人士</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>姓名</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>性别</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>联系方式</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>身份证号</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>item</key>
					<string>家有宠物</string>
					<key>detailArr</key>
					<array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
						<array>
							<dict>
								<key>item</key>
								<string>宠物种类</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>宠物数量</string>
								<key>detail</key>
								<string></string>
							</dict>
							<dict>
								<key>item</key>
								<string>备注信息</string>
								<key>detail</key>
								<string></string>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
