<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>isAttested</key>
			<string>1</string>
			<key>titleStr</key>
			<string>华澳中心3号楼26E</string>
			<key>detailStr</key>
			<string>北京市海淀区紫竹院路31号</string>
			<key>additionalStr</key>
			<string>房屋面积:108.55m²</string>
			<key>attestedNum</key>
			<string>5</string>
		</dict>
		<dict>
			<key>isAttested</key>
			<string>0</string>
			<key>titleStr</key>
			<string>美林家园3012室</string>
			<key>detailStr</key>
			<string>北京市海淀区紫竹院路31号</string>
			<key>additionalStr</key>
			<string>房屋面积:105m²</string>
			<key>attestedNum</key>
			<string>5</string>
		</dict>
	</array>
</dict>
</plist>
