<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string></string>
	<key>data</key>
	<array>
		<dict>
			<key>FirstName</key>
			<string>一级分类名1</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名1</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类3</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类4</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类5</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名2</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名2</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名3</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名4</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名5</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名3</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名6</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名7</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名4</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名8</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名9</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名5</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名10</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名11</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名6</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名12</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名13</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名14</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdImage</key>
							<string></string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名7</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名16</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名17</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名8</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名18</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名19</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名9</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名1</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名1</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>FirstName</key>
			<string>一级分类名10</string>
			<key>FirstCategory</key>
			<array>
				<dict>
					<key>SubName</key>
					<string>二级分类名1</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>SubName</key>
					<string>二级分类名1</string>
					<key>SubCategory</key>
					<array>
						<dict>
							<key>ThirdName</key>
							<string>三级分类1</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
						<dict>
							<key>ThirdName</key>
							<string>三级分类2</string>
							<key>ThirdCategoriy</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
