<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>isAttested</key>
			<string>1</string>
			<key>titleImage</key>
			<string>realName</string>
			<key>titleStr</key>
			<string>实名认证</string>
			<key>detail</key>
			<array>
				<dict>
					<key>detail</key>
					<string>实名认证</string>
					<key>item</key>
					<string>姓名</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>手机号码</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>验证码</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>男</string>
					<key>item</key>
					<string>性别</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>111111</string>
					<key>item</key>
					<string>身份证号</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>111111</string>
					<key>item</key>
					<string>身份证照</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>isAttested</key>
			<string>1</string>
			<key>titleImage</key>
			<string>merchantStaff</string>
			<key>titleStr</key>
			<string>商户服务人员</string>
			<key>detail</key>
			<array>
				<dict>
					<key>detail</key>
					<string>商户服务人员</string>
					<key>item</key>
					<string>小区选择</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>归属商家</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>手机号码</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>男</string>
					<key>item</key>
					<string>验证码</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>isAttested</key>
			<string>0</string>
			<key>titleImage</key>
			<string>communityStaff</string>
			<key>titleStr</key>
			<string>社区工作人员</string>
			<key>detail</key>
			<array>
				<dict>
					<key>detail</key>
					<string>社区工作人员</string>
					<key>item</key>
					<string>小区选择</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>归属组织</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>手机号码</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>男</string>
					<key>item</key>
					<string>验证码</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>isAttested</key>
			<string>0</string>
			<key>titleImage</key>
			<string>Housekeeper</string>
			<key>titleStr</key>
			<string>社区管理认证</string>
			<key>detail</key>
			<array>
				<dict>
					<key>detail</key>
					<string>社区管理认证</string>
					<key>item</key>
					<string>小区选择</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>负责楼栋</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>11111111</string>
					<key>item</key>
					<string>手机号码</string>
				</dict>
				<dict>
					<key>detail</key>
					<string>男</string>
					<key>item</key>
					<string>验证码</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
