<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string></string>
	<key>data</key>
	<array>
		<dict>
			<key>ShopName</key>
			<string>商户名称0</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1000</string>
			<key>OrderAmount</key>
			<string>99</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称1</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1001</string>
			<key>OrderAmount</key>
			<string>199</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称2</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1002</string>
			<key>OrderAmount</key>
			<string>299</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称3</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1003</string>
			<key>OrderAmount</key>
			<string>399</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称4</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1004</string>
			<key>OrderAmount</key>
			<string>499</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称5</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1000</string>
			<key>OrderAmount</key>
			<string>599</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称6</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1001</string>
			<key>OrderAmount</key>
			<string>699</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称7</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1000</string>
			<key>OrderAmount</key>
			<string>799</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称8</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1000</string>
			<key>OrderAmount</key>
			<string>899</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopName</key>
			<string>商户名称9</string>
			<key>ShopIcon</key>
			<string></string>
			<key>OrderType</key>
			<string>1000</string>
			<key>OrderAmount</key>
			<string>999</string>
			<key>OrderGoods</key>
			<array>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
				<dict>
					<key>GoodsName</key>
					<string></string>
					<key>GoodsImage</key>
					<string></string>
					<key>GoodsPrice</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
